body{
    background-color: #f4f4f4;
     font-family: Arial, sans-serif;
     margin: 0%;
     padding: 0%;
     overflow-x: hidden;
}
.BLOCK{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    width: auto;
}
button{
    border-color: rgb(128, 0, 32);
    background-color: rgb(128, 0, 32);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
}
td, th{
     border-bottom: 1px solid #ddd;
}   
table{
    border-collapse: collapse;
}
span{
    color: rgb(128, 0, 32);
    font-weight: bold;
}
.bienvenue{
 border: 10px solid white;
 border-radius: 10px;
 box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
 width: 80%;
 height: 90px;
 margin-bottom: 20px;
 background-color: white;
 text-align: center;
 padding-bottom: 20px;


    }
.tableau{
    background-color: white;
   display: flex;
   flex-direction: column;
   border: 10px solid white;
   border-radius: 10px;
   box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
   width: 83%;
   padding-top: 20px;
   padding-bottom: 20px;
}
th{
    background-color: rgb(128, 0, 32);
    color: white;
}
table, th, td{
    padding: 10px;
    text-align: center;
}
tr{
    text-align: center;
    height: 20px;
    
}
caption{
    text-align: left;
    margin-bottom: 10px;
    color: rgb(128, 0, 32);
    font-size: 20px;
}
.details{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
}
.tableau_achats{
   background-color: white;
   display: flex;
   flex-direction: column;
   border: 10px solid white;
   border-radius: 10px;
   box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
   width: 45em;
   padding-top: 20px;
   padding-bottom: 20px;
}
.total_creances{
   border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
     width: 17em;
     height: 150px;
    text-align: center;
    background-color: white;
    border-top: 3px solid rgb(128, 0, 32);
    padding-top: 20px;
}
h3{
    color: rgb(128, 0, 32);
}
.montant{
    color: black;
    font-size: 25px;
 }
 .mouv{
    margin-left: 280px;
 }
