body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}
.container{
    margin-top: 50px;
}
h2{
    text-align: center;
    color: white;
    background-color: rgb(128, 0, 32);
    width: 150%;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 50px;
    padding-top: 10px;
    margin-left: 80%;
}
table{
    margin-top: 50px;
    width: 150%;
    background-color: white;
    border-collapse: collapse;
    margin-left: 80%;
    margin-bottom: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -6%;
}
th, td{
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}
caption{
    font-size: 23px;
    text-align: center;
    color: rgb(128, 0, 32);
    margin-bottom: 10px;
    
}
th{
   background-color: #f2f2f2;
    color: black;
}