body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}
table{
    background-color: white;
    border-collapse: collapse;
    width: 80%;
    margin-left: 11%;
}
th, td{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
.summary{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 60px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
    border: 2px solid palevioletred;
    background-color: rgb(255, 192, 203);
    padding-left: 5%;
    padding-right: 35px;
    width: 95%;
}
h1{
    margin-left: 30%;
    margin-top: 5%;
    color: rgb(128, 0, 32);
}
p{
    font-size: 18px;
    color: rgb(128, 0, 32);
}
caption{
    font-size: 23px;
    text-align: center;
    color: rgb(128, 0, 32);
    margin-bottom: 2%;
    margin-top: 2%;
    
}
th{
    background-color: rgb(128, 0, 32);
    color: white;
}
.all{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}