body {
  display: flex;
  font-family: Arial, sans-serif;
}
.menuclient {
   display: flex;
  font-family: Arial, sans-serif;
  width: 18%;
  background-color: rgb(128, 0, 32);
  color: #fff;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
   position: fixed;
}
.titre {
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.nav{
  margin-bottom: 30%;
}
.nav a {
  display: flex;
  align-items: center;
  padding: 8%;
  color:white;
  text-decoration: none;
}
.buttt{
  margin-top: 25%;
   border-top: 1px solid rgba(255,255,255,0.2);
}
.butto{
    margin-top:55%;
   border-top: 1px solid rgba(255,255,255,0.2);
}
.nav span{
  color: white;
}
.nav a .icon {
  margin-right: 5%;
  font-size: 1.3em;
}
.nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}