body{ 
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 margin: 0%;
 padding: 0%;
}
.search-container {
  margin-top: 2px;
  text-align: center;
}
.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.search-container input[type="text"] {
    padding: 8px;
    width: 500px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 2px 5px gray;
}
.search-container button{ 
    padding: 8px;
    padding-top: 8px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black ;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px gray;
}
.introduction {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 8px;
      width: 93%;
      max-width: 1200px;
      margin-bottom: 0px;
      background-color: rgb(128,0,32);
      color: #fff;
      border-radius:4px;
      padding: 62px;
      padding-top: 10px;
}
table{
      width: 107.5%;
      margin: 0 auto;
      border-collapse: collapse;
      background-color:white;
      box-shadow: 0 5px 8px rgba(0,0,0,0.1);
      border-radius: 10px;
      margin-top: 0px;

} 
td,th
{
  border: 1px solid #dddd;
 padding: 10px;
 width:15%;  
 margin-top: 20px;    
 font-family: Arial, sans-serif;
 font-size: 14px;
 white-space: nowrap;
}
th {
    background-color: #f2f2f2;
}
h2{
  text-align: center;
  margin-bottom: 0px;
  margin-bottom: 20px;
} 
.introduction .btn{
  margin-top: 1px;
  margin-bottom: 1px;
  background:white;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  text-decoration: none;
}
button{
 width: 65px;
 color: black;
 border: none;
 margin: 2px;
 cursor: pointer; 
 border-radius: 3px;
 margin-top: 6px;
 padding: 2px;
}button:hover {
  color:red;      
}
.alert {
    padding: 12px 20px;
    margin: 15px 0;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}
.alertsuccess {
    background-color: #c9e886;
    width: 100%;
    color: rgb(10, 201, 7);
    border: 1px solid #c3e6cb;
      text-align: center;
      border-radius: 6px;
      margin-top: 50px;
      justify-content: center;
      margin-left: 5px;
}

.alerterror {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    text-align: center;
    justify-content: center;
    margin-left: 73px;
     padding: 3px;
     border-radius: 6px;
      margin-top: 50px;
      margin-left: 5px;
}
.All{
  margin-left: 330px;
  margin-top: 6px;
 }