body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0%;
  padding: 0%;
}
.menuclient {
  position: fixed;
  width: 18%;
  background-color: rgb(128, 0, 32);
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
}
.titre {
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.nav{
  margin-bottom: 105%;
}
.nav a {
  display: flex;
  align-items: center;
  padding: 8%;
  color:white;
  text-decoration: none;
}
.nav span{
  color: white;
}
.nav a .icon {
  margin-right: 4%;
  font-size: 1.2em;
}
.nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Pied de page */
.bom{
  margin-top: 108%;
   border-top: 1px solid rgba(255,255,255,0.2);
}