body
{
    background-color: #f0f0f0;
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.form-container h1 
{
   text-align: center;
   margin:20px ;
   color: white;
}
.form-container
{
    background-color:  rgb(128, 0, 32);
    border-radius: 10px;
    box-shadow: 0 3px 8px gray;
    width: 400px;
    max-width: 500px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    height: 410px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}
label     
{
    color: white ;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input
{
    width: 96%;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: black;
   
}
.button-group
{
    margin-top: 28px;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    gap: 21px;
}
 button
 {
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
 }
 .error  
{
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    background-color: white;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px;
}
.gestion
{
   border: 10px solid white;
   border-radius: 10px;
   box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
   height: 400px;
   padding: 20px;
   background-color: white;
   color: black;
   width: 400px;
   text-align: center;
   gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img{
background-color: white;
width: 200px;
height: 180px;
padding-left: 10px;
border-radius: 10px;
}
p{
   font-size: 16px;
   margin-top: 10px;
   color: gray;
   
}
.boutique{
   color: rgb(128, 0, 32);
   font-size: 24px;
   margin-bottom: 10px;
}