body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.form-container {
    background-color: rgb(128, 0, 32);
    border-radius: 10px;
    box-shadow: 0 3px 8px gray;
    width: 800px;
    color: white;
    padding: 25px;
}

.form-container h1 {
   text-align: center;
   margin: 20px;
   color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 3px 8px gray;
    border-radius: 10px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}


.message {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 6px;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
    text-align: center;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
}


.search-container {
    margin-top: 20px;
    text-align: center;
}


.search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 2px 5px gray;
}


.search-container button {
    padding: 10px 9px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black ;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px gray;
}
 
select {
 padding: 5px;
 border-radius: 5px;
}
