body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
}

body > p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    box-sizing: border-box;
    color: #0c7802;               
    background-color: white;    
    border: 1px solid;
    white-space: pre-line;        
    line-height: 1.5;             
}

.form-container {
    background-color: rgb(128,0,32);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 350px;
    color: white;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 40%;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-enregistrer {
    background-color: white; 
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: auto;
    height: 40px;
    width: 50%;
}
.cle {
    text-align: center;
    margin-top: 20px; /* petit espace après le formulaire */
}
.cle{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 15%;
}