body
{
    background-color: #f0f0f0;
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
}

.form-container h1 
{
   text-align: center;
   margin:20px ;
   color: white;
}
.form-container
{
    background-color:  rgb(128, 0, 32);
    border-radius: 10px;
    box-shadow: 0 3px 8px gray;
    width: 30%;
    max-width: 45%;
    color: white;
    margin-bottom: 10%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}
.form-group  
{
    margin-bottom: 20px;
    color: white;
}
label     
{
    color: white ;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input , textarea /*style des champs de lecture*/
{
    width: 96%;
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: black;
   
}
textarea {
    resize: none;
    height: 20px;
}
.error    /*style des message erreur */
{
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    background-color: white;
}
.button-group    /*style des boutons*/
{
    margin-top: 28px;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    gap: 21px;
}
 button
 {
    padding: 8px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 45%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
 }
 button[type="submit"] ,  button[type="button"]
 {
    background-color: white;
    color:black;  
 }